:root {
  --rc-font-size-h1: 4em;
  --rc-font-size-h2: 2.1875em;
  --rc-font-size-h3: 1.25em;
  --rc-font-size-text: 1.25em;
  --rc-font-size-link: 1.25em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    position: fixed;
    z-index: 2;
}

header > h2 {
    color: #1F242D;
}

nav > ul > li > a {
    font-size: var(--rc-font-size-link);
    color: #1F242D;
}

nav > ul > li > a:hover {
    color: #8EADD5;
}


.flex-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
}

#hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 180px;
  }
  
.container {
    height: 30vh;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.container > button {
    border: none;
    border-radius: 8px;
    width: 8rem;
    padding: 10px;
    background-color: #8EADD5;
    color: aliceblue;
    border-radius: px;
}

.container > button:hover{
    cursor: pointer;
    color: #1F242D;
    transition: 0.5s;
}

.container > h1 {
    font-size: var(--rc-font-size-h1);
}

.container > p {
    font-size: var(--rc-font-size-text);
}

#companies {
    margin-top: 140px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

h3 {
    font-size: var(--rc-font-size-h3);
    color: #383838;
}

#companies > div {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   max-width: 680px;
   min-width: 340px;
   background-color: #f6f6f6;
   border-radius: 12px;
}

.img-companies > img {
    width: 15%;
}

footer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    min-height: 30vh;
}

.footer-ul {
    width: 200px;
    height: 240px;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

footer > .footer-ul > li {
    gap: 30px;
    height: 40px;
}


footer > ul > li:first-child {
    font-weight: bolder;
    font-size: var(--rc-font-size-link);
}

.footer-ul > li > a {
    color: #1F242D;
    font-size: var(--rc-font-size-link);
}

@media (max-width: 700px) {
    header {
      padding: 20px;
    }
  
    header > nav {
      display: none;
    }
  
    .menu {
      display: block;
      cursor: pointer;
    }

    #hero {
        flex-direction: column;
    }

    .container {
        padding: 15px;
        align-items: center;
    }

    #hero > .container > h1 {
        font-size: 1.8rem;
    }

    #hero > .container > p {
        font-size: medium;
    }

    #hero > img {
        margin-top: 80px;
    }

    footer {
        flex-direction: column;
    }
  }


  @media (max-width: 1040px) {
    #hero {
      padding: 20px;
      padding-top: 150px;
    }
  
    #hero > .container {
        width: 250px;
        align-items: center;
    }
  
    .container > h1 {
      font-size: 2.1rem;
    }
  
    #hero > div > p {
      text-align: center;
      font-size: 18px;
    }
  
    #hero > img {
      width: 350px;
    }
  }








